@page
@model GPFC_Management.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Current Teams for GPFC</p>
</div>

<div>
    <h2>Teams</h2>
    <ul>
        @foreach (var team in Model.Teams)
        {
            <li>@team.TeamName - Coach: @team.CoachName (Division: @team.Division)</li>
        }
    </ul>
</div>
